/* EX1) Write a selector to target the h1 in jumbotron */
.jumbotron > .col-md-6 > h1 {
  background-color: rgb(161, 220, 228);
}

/* EX2) Write a selector to target every children of the navbar */
.nav > a {
  color: plum;
}

/* EX3) Write a selector to target the "continue reading..." inside the jumbotron */
.jumbotron > .col-md-6 > p.lead.mb-0 {
  background-color: rgb(243, 186, 195);
}

/* EX4) Write a selector to target the first blogpost */
.blog-main > :nth-child(2) {
  background-color: pink;
}

/* EX5) Write a selector to target the "even" links in the navbar */
nav > :nth-child(2n + 2) {
  color: red !important;
}
/* EX6) Write a selector to target the last blog post */
.blog-main > .blog-post:last-of-type {
  background-color: burlywood;
}
/* EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives ) */

/* EX8) Write a selector to target the second post author */
/* EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly */
/* EX10) Write a selector to target the footer */
